@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;800&display=swap');
:root{
    --primary-color:rgb(59, 59, 59);
    --secondary-color: rgb(201, 224, 253);
    --backcolor: rgb(39, 39, 39);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
h4{
    text-align: center;
    padding-top: 30px;
    font-weight: 400;
    font-size: 30px;
}

section p{
    text-align: center;
}
header{
    width: 100vw;
    height: 70px;
    background-color: var(--secondary-color);
    position: fixed;
    top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header{
    width: 1140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo a{
    color: var(--primary-color);
    font-size: 20px;
    text-decoration: none;
    font-weight: 600;
    margin: 0 20px;
}
.btn-mobile{
    display: none;
}
.list{
    display: flex;
}
.list li{
    list-style: none;
    margin:20px 0px;
    border-bottom: 2px solid rgba(87, 160, 0, 0.0);
    cursor: pointer;
}
.list a{
    padding:25px 30px;
    text-decoration: none;
    color: var(--primary-color);
}
.list a:hover{
    border-bottom:2px solid rgba(3, 58, 131, 0.5) ;
}
.initial{
    overflow: hidden;
}
.ctm{
    width: 100vw;
    height: 100vh;
    background-image: url(../img/backmini.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
}
.text{
    width: 1140px;
    height: 100px;
    margin:auto;
    padding: 20px;
    color: var(--primary-color);
}
.text h1{
    text-shadow: 2px 2px rgba(59, 59, 59, 0.3);
    font-size: 50px;
}
.text h3{
    font-size: 35px;
    text-shadow: 2px 2px rgba(59, 59, 59, 0.3);
}
.about{
    height: 600px;
    background-color: var(--backcolor);
}
.about h4{
    color: rgb(199,199,199);
}
.about p{
    text-align: center;
    color: rgb(199, 199, 199);
}
.about-img{
    max-width: 1140px;
    height: 450px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.about-text p{
    color:rgb(199, 199, 199);
    width: 300px;
    height: 80%;
    text-align: start;
}
.img-circle{
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    align-items: center;
    border: 3px solid rgb(199, 199, 199);
}
.img-circle img{
    width: 300px;
}
.projects{
    height: 600px;
    background-color: var(--secondary-color);
}
.projects-icons{
    width: 100vw;
    max-width: 1140px;
    height: 500px ;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.project-item{
    width: 260px;
    height: 170px;
    margin: 10px;
    background-color: rgba(59, 59, 59, 0.3);
    overflow: hidden;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}
.project-item img{
    width: 290px;
    height: 170px;
    transition: 1s;
}
.project-item:hover .project-info{
    background-color: rgba(0, 0, 0, 0.9);
    color: rgba(255, 255, 255, 0.9);
}


.project-info{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: rgba(0, 0, 0, 0.0);
    transition: 1s;
    border-radius: inherit;
    color: rgba(255, 255, 255, 0.0);
    flex-direction: column;
    padding: 20px;
}

@media (max-width: 730px){
    .btn-mobile{
        display: flex;
        padding: 10px 25px;
        font-size: 16px;
        border: none;
        background: none;
        cursor: pointer;
        gap: 10px;
    }
    .list{
        display: block;
        width: 100%;
        height: 0px;
        position: absolute;
        top: 70px;
        right: 0px;
        background-color: var(--secondary-color);
        transition: .6s;
        z-index: 999;
        visibility: hidden;
        overflow-y: hidden ;
    }
    .list a{
        padding: 10px 30px;
    }
    .nav.active .list{
        visibility: visible;
        height: calc(100vh - 70px);
    }
    .burg{
        display: block;
        border-top:2px solid;
        width: 20px;
        color: black;
    }
    .burg::after, .burg::before{
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        margin-top: 5px;
        background: currentColor;
        transition: .4s;
        position: relative;
    }
    .nav.active .burg{
        border-top-color: transparent;
    }
    .nav.active .burg::before{
        transform: rotate(135deg);
    }
    .nav.active .burg::after{
        transform: rotate(-135deg);
        top:-7px;
    }
}