@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;800&display=swap');
:root{
    --offwhite:rgb(230, 230, 230);
    --mediumgray: rgb(117, 120, 124);
    --lightgray: rgb(172, 172, 172);
    --darkgray: rgb(50, 50, 50);
    --darkshadow: rgba(22, 22, 22, 0.7);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
}
h4{
    text-align: center;
    padding-top: 30px;
    font-weight: 400;
    font-size: 30px;
    text-shadow: 2px 2px 3px var(--darkshadow);
}

section p{
    text-align: center;
    margin: 20px;
    font-weight: 300;
}
header{
    width: 100vw;
    height: 70px;
    background-color: var(--offwhite);
    position: fixed;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header{
    width: 1140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo img{
    width: 50px;
    margin: 20px;
    transition: 1s;
}
.logo:hover img{
    width: 60px;
}
.btn-mobile{
    display: none;
}
.list{
    display: flex;
}
.list li{
    list-style: none;
    margin: 10px;
    border-bottom: 3px solid transparent;
    cursor: pointer;
}
.list a{
    padding:25px 30px;
    color: var(--darkgray);
    transition: 1s linear;
}
.list a:hover{
    border-bottom: 3px solid var(--offwhite);
}
.sidebar{
    position: fixed;
    bottom: 30px;
    right: 30px;
}
.sidebar img{
    width: 50px;
    height: 50px;
}
.initial{
    overflow: hidden;
}
.ctm{
    width: 100vw;
    height: 100vh;
    background-image: url(../img/back2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.text{
    width: 1140px;
    height: 600px;
    margin:auto;
    padding: 20px;
    display: flex;
    justify-content:center;
    align-items: flex-start;
    flex-direction: column;
}
.text h1, h3{
    text-shadow: 1px 1px rgba(240, 240, 240, 0.8);
    color: var(--mediumgray);
    top:-50px;
}
.text h1{
    font-size: 4rem;
}
.text h3{
    font-size: 2rem;
}
.about{
    background-color: var(--offwhite);
}
.about p, h4{
    color: var(--darkgray);
}
.about p{
    margin-bottom: 30px;
}
.about-img{
    width: 100vw;
    max-width: 1140px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.about-text p{
    color: var(--darkgray);
    width: 300px;
    height: 80%;
    text-align: start;
}
.img-circle{
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    align-items: center;
    border: 3px solid rgb(199, 199, 199);
    margin-bottom: 50px;
}
.img-circle img{
    width: 300px;
}
.projects{
    background-color: var(--darkgray);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.projects h4, p{
    color: var(--offwhite);
}
.projects-icons{
    width: 100vw;
    max-width: 1140px;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.project-item{
    width: 260px;
    height: 170px;
    margin: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 5px 5px 8px var(--darkshadow);
}
.project-item img{
    width: 290px;
    height: 190px;
}
.project-info{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: rgba(0, 0, 0, 0.0);
    border-radius: inherit;
    color: var(--offwhite);
    flex-direction: column;
    padding: 20px;
    visibility: hidden;
    transition: 1s linear;
    opacity: 0;
}
.project-info h5{
    font-size: 19px;
    font-weight: 600;
    margin:10px;
}
.project-info p{
    font-size: 13px;
    margin:0;
    color: var(--offwhite);
}
.project-links img{
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    border: 3px solid #fff;
    margin: 10px;
}
.project-item:hover .project-info{
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.9);
    color: rgba(255, 255, 255, 0.9);
    opacity: 1;
}
.project-info:focus{
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.9);
    color: rgba(255, 255, 255, 0.9);
    opacity: 1;
}
.visit{
    margin:30px;
}
.btn-git{
    padding: 15px 30px;
    cursor: pointer;
    border-radius: 30px;
    border: none;
    font-size: 16px;
    background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
    box-shadow: 12px 12px 24px rgba(41, 92, 87, 0.64);
    transition: all 0.3s ease-in-out 0s;
    color: #313133;
}
.btn-git img{
    width: 20px;
    height: 20px;
}
.btn-git:hover, .btn-git:focus{
    transform: translateY(-6px);
}
.contact{
    background-color: var(--offwhite);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-info{
    width: 100%;
}
.contact-area h4, p{
    color: var(--darkgray);
}
.contact-card{
    width: 450px;
    background-color: var(--darkgray);
    margin: 50px 0;
    border-radius: 50px;
}
.contact-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column ;
    padding: 20px;
}
.contact-info .img-circle{
    margin-bottom: 20px;
}
.contact-icons img{
    width: 30px;
    height: 30px;
}
.btn-zap{
    margin: 30px;
    padding: 15px 30px;
    cursor: pointer;
    border-radius: 30px;
    border: none;
    font-size: 16px;
    background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
    box-shadow: 12px 12px 24px rgba(41, 92, 87, 0.64);
    transition: all 0.3s ease-in-out 0s;
    color: #313133;
}
.btn-zap img{
    width: 20px;
    height: 20px;
}
.btn-zap:hover{
    transform: translateY(-6px);
}

footer{
    height: 200px;
    background-color: rgb(15, 15, 15);
    color: var(--offwhite);
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 730px){
    .btn-mobile{
        display: flex;
        padding: 10px 25px;
        font-size: 16px;
        border: none;
        background: none;
        cursor: pointer;
        gap: 10px;
    }
    .list{
        display: block;
        width: 100%;
        height: 0px;
        position: absolute;
        top: 70px;
        right: 0px;
        background-color: var(--offwhite);
        transition: .6s;
        z-index: 999;
        visibility: hidden;
        overflow-y: hidden ;
    }
    .list a{
        padding: 10px 30px;
    }
    .nav.active .list{
        visibility: visible;
        height: calc(100vh - 70px);
    }
    .burg{
        display: block;
        border-top:2px solid;
        width: 20px;
        color: black;
    }
    .burg::after, .burg::before{
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        margin-top: 5px;
        background: currentColor;
        transition: .4s;
        position: relative;
    }
    .nav.active .burg{
        border-top-color: transparent;
    }
    .nav.active .burg::before{
        transform: rotate(135deg);
    }
    .nav.active .burg::after{
        transform: rotate(-135deg);
        top:-7px;
    }
}